*{
    margin:0px;
    padding: 0;
    font-family: 'Inter';
}

.containerHome{
    display: flex;
    justify-content: space-between;
}

.homeElements{
    width: 35%;
    margin-left: 10%;
    margin-top: 100px;
}

.homeTittle h1{
   font-weight: 800;
    font-size: 54px;
    line-height: 76px;
    color: #282828;
}

.homeParagraph{
    width: 100%;
    margin-top: 18px;
}

.homeParagraph p{
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #282828;
}

.homeButton button{
    background: #48D0B0;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
    border: none;
    Width:231px;
    Height:66px;
    margin-top: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

.homeImages{
    width: 55%;
}

.homeImages div{
    width: 100%;
}

.homeImages div img{
    width: 100%;
}